#bootstrap-overrides .links, .links:hover, .nav-link, .navbar-brand, .nav-link:hover, .navbar-brand:hover, .whitehead, .whitetag{
    color: white;
}

#bootstrap-overrides .btn{
    background-color: white;
    color: black;
}

#bootstrap-overrides .navbar{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

#bootstrap-overrides .navbar-brand{
    font-size: 25px;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (min-width: 768px){
    .navbar li {
        margin-left : 0.4em;
        margin-right : 0.4em;
    }
}

.rightcontact{
    font-size: 20px;
    padding-left: 130px;
}

@media (max-width: 767px){
    .rightcontact{
        padding-top: 40px;
        padding-left: 30px;
        font-size: 24px;
    }
}

p{
    font-family: sans-serif;
}

.titles{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

@media (min-width: 768px){
    .titles{
        padding-left: 50px;
        text-align: center;
    }
}

.headpad{
    padding-top: 20vh;
    padding-bottom: 30vh;
}

.whitetag{
    font-size: 50px;
    font-style: italic;
    letter-spacing: 3px;
}

@media (max-width: 870px){
    .whitehead{
        font-size: 10vw;
    }
    .whitetag{
        font-size: 5.5vw;
    }
}

.bimage{
    background-color: black;
    background: url("images/obcode.jpg") no-repeat;
    background-size: 120rem;   
}

.module{
    padding-top: 70px;
    padding-bottom: 70px;
}

.other{
    background-color: #EDEEEF;
}

img{
    z-index: -1;
}

.cintro{
    text-align: center;
    padding-bottom: 30px;
}

.content-title{
    font-weight: bold;
    letter-spacing: 1.5px;
    word-spacing: 6px;
    text-transform: uppercase;
    padding-bottom: 3px;
}

.content-center{
    text-align: center;
}

.buttonalign{
    text-align: center;
}

.copyright{
    font-size: small;
    padding-top: 30px;
    padding-bottom: 100px;
    color: #a4a6a8;
}

.tagline{
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    font-size: 40px;
    color: white;
}

footer{
    background-color: #26262A;
}

a{
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.rproj{
    padding-top: 40px;
}

.square{
    padding-top: 20px;
}

.school-year{
    padding-top: 13px;
}